ul,ol{
	list-style: none;	
}
*{
	margin: 0;
	padding: 0;
}
#canvas{
  background: white;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

body{
  margin: 0px;
  overflow: hidden;
}
.actions{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
.actions svg {
	width: 2em;
	height: 2em;
	transition: all 0.3s;
	margin: 0 10px;
}

.actions svg.active{
	fill: red;
	transform: scale(1.2);

}
.icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
.colors{
    	position: fixed;
    	top: 80px;
    	left: 28px;
    }
.colors> li{
	width: 20px;
	height: 20px;
	box-shadow: 0 0 3px rgba(0,0,0,0.25);
	margin: 10px 0px;
	border-radius: 50%;
	transition: all 0.3s;
}
.colors> li.blackpen{
	background: black;
}
.colors> li.redpen{
	background: red;
}
.colors> li.greenpen{
	background: green;
}
.colors> li.bluepen{
	background: blue;
}
.colors> li.active{
	transform: scale(1.2);
}
.sizes {
	position: fixed;
	right: 20px;
	top: 10px;
}
.sizes > li {
	margin: 20px 0;
}
.sizes > .thin{
	height: 0;
	width: 20px;
	border-top: 3px solid black;
}
.sizes > .thick{
	height: 0;
	width: 20px;
	border-top: 6px solid black;
}